<!-- Forgot Password Page -->
<div id="myModalid" class="modal backdrop" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content" style="height:200px !important; background-color:white !important;">

      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3" style="color:#5394ff !important;"></i>
          <p>Your password sent through email! Login Now.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="callParent('loginPopup')" class="btn btn-primary-modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- START Login & Registration block -->
<main class="login_page">
  <section class="login_section">
    <div class="modal fade in" id="myModal" [ngStyle]="{'display':displays}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-body">
          <div class="row" style="background-color:white;">
            <div class="col-md-5 lgn-pnl-styl1">
              <div class="row text-center sign-with">
                <div class="col-md-12">
                  <h3 style="float:left; padding-left:10px; color:#ffffff; font-size:28px;"> FORGOT PASSWORD </h3>
                </div>
                <div class="col-md-12">
                  <div style="bottom:50px ">
                    <h3 style="float:left; text-align: left; padding-left:10px; font-size:16px; font-weight:normal; padding-top:60px; color:#ffffff">Biomarker database for informed clinical & therapeutic decision making</h3>
                  </div>
                  <div style="vertical-align:bottom; text-align:center">
                    <img src="assets/images/login_panel_icons.png" alt="Login Back image"> </div>
                </div>
              </div>
            </div>
            <div class="col-md-7" style="padding:20px 40px 20px 20px">
              <button type="button" (click)="callParent('close')" title="close" style="float:right; border:none;">
                <i class="fa fa-times" style="color:#0099cc;" aria-hidden="true"></i>
              </button>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab"> Forgot Password?</a>
                </li>
                <li>
                  <a (click)="callParent('loginPopup')">Login</a>
                </li>
                <!--routerLink="/login"-->
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="LoginPanel" style="padding-top:10px">
                  <form [formGroup]="formdata" (ngSubmit)="forgotSubmit(formdata.value)" class="form-horizontal">
                    <div class="form-group">
                      <label for="email" class="col-sm-3 control-label"> Email</label>
                      <div class="col-sm-9">
                        <input type="email" maxlength="254" (focus)="alertclear()" class="form-control" id="fusername" placeholder="Email" formControlName="fusername"
                          required />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"> </div>
                      <div class="col-sm-9">
                        <button type="submit" [disabled]="!formdata.valid" class="btn btn-primary btn-md"> Submit</button>
                      </div>
                    </div>
                    <div style="font-size:15px; margin-top: 40px !important;">For help, contact
                      <a href="support.gobiom@excelra.com">support.gobiom@excelra.com</a>
                    </div>
                  </form>
                  <div class="alert {{edited}} fade" [ngClass]="{in: forgotresponse !=''}">
                    <h6>{{forgotresponse}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- ENDS Login & Registration block -->