a
{
    color: #0099cc !important;
}
a:hover{
    color:#35a99d !important;
}

.active:after {
    content: "" !important;
    color: #324259 !important;
  
}
.alert
{
    margin-top: 10% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/**************** Top bar Login modal menu styles *********************/

@media screen and (min-width: 768px) {
    .modal-dialog {
        left: 0%;
    }
    }
    .top-login {
        width: 400px;
        margin: 100px auto;
        font-size: 15px;
    }
    /* Reset top and bottom margins from certain elements */
    .top-login-header, .login p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    /**************** The triangle form is achieved by a CSS hack *******************/
    
    .top-login-triangle {
        width: 0;
        margin-right: auto;
        margin-left: auto;
        border: 12px solid transparent;
        border-bottom-color: #28d;
    }
    .top-login-header {
        background: #28d;
        padding: 20px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .top-login-container {
        background: #fff;
        padding: 15px;
    }
    /* Every row inside .login-container is defined with p tags */
    .top-login p {
        padding: 0px;
    }
    .top-login input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 12px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em;
    }
    .top-login input[type=email], .login input[type=password] {
        background: #fff;
        border-color: #bbb;
        color: #555;
    }
    /* Text fields' focus effect */
    .top-login input[type=email]:focus, .login input[type=password]:focus {
        border-color: #888;
    }
    .top-login input[type=submit] {
        background: #28d;
        border-color: transparent;
        color: #fff;
        cursor: pointer;
    }
    .top-login input[type=submit]:hover {
        background: #17c;
    }
    /* Buttons' focus effect */
    .top-login input[type=submit]:focus {
        border-color: #05a;
    }
    /******************   BIOMARKER DATA Block Styles *********************/
    
    .img-responsive {
        /* display: block; */
        height: auto;
        max-width: 100%;
    }
    
    /* Navigation menu bar */
    
    @media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    }
    
    /***********************   Loging button color change ******************/
    
    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
     background-color: #086066;
    }
    
    .lgn-btn-styl
    {
        border:2px #177e85 solid; background-color:#fff; border-radius: 8px; height:43px
    }

    /************ Login & Registration model window styles ***************/
    
    .nav-tabs {
        margin-bottom: 15px;
    }
    .sign-with {
        margin-top: 25px;
        padding: 20px;
    }
    div#OR {
        height: 30px;
        width: 30px;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        font-size: 12px;
        float: right;
        position: absolute;
        right: -16px;
        top: 40%;
        z-index: 1;
        background: #DFDFDF;
    }
    
    .login-wzd-blk
    {
         z-index: 10020; 
         /* display: block; */
         top: 105px; 
         padding-right: 0px;
    }
    
    @media screen and (min-width: 768px){
    .modal-dialog {
        right: auto;
        /* left: 50%; */
        width: 800px;
        padding-top: 30px;
        padding-bottom: 30px;
    }}
    
    .modal-content
    { 
    border-radius: 0px;
    }
    
    .modal-body
    {
        padding: 0px;
    }
    
    .form-control
    {
        height:30px;
        border-radius: 0px;
    }
    
    .form-horizontal .control-label
    {
        text-align:left;
    }
    
    .lgn-pnl-styl1
    {
        border-right: 1px dotted #C2C2C2;
        padding-right: 30px; 
        background-color:#0099cc; 
        height:490px;
    }
    
    .lgn-hdr-styll
    {
        float:left; 
        padding-left:10px; 
        color:#ffffff; 
        font-size:40px;
    }
    
    .lgn-hrd-styl2
    {
        bottom:50px; 
        color:#c1c1c1;
    }
    
    lgn-hdr-styl3
    {
        float:left; 
        text-align: left; 
        padding-left:10px; 
        font-size:16px; 
        font-weight:normal; 
        padding-top:60px; 
        color:#ffffff
    }
    
    .checkbox-bot-gap
    {
        padding-bottom:10px;
        float:left;
    }