

     <div id="myModalfooter" class="modal backdrop" style="display:block; padding-top: 40px !important;">
            <div> <!--class="modal-dialog"-->
              <div id="contentpopup" class="modal-content acontent" style="background-color: white !important; padding: 20px 30px 20px 30px !important;">
               
            <div class="modal-header" style="background-color: white !important;">
            <p class="heading lead" style="background-color: white !important; color: #0099cc;">GOBIOM DATABASE END-USER LICENSE AGREEMENT
            <button type="button" class="close" (click)="callParent('close')">&times;</button>
            </p>
            </div>

                <div id ="termprivcontent" class="modal-body" style="height:500px !important; overflow-y: scroll;">
                <div id="termsandprivacycontent"></div>
               
              </div>
            </div>                 
            </div>                 
                