<!-- Reset Password Page -->
<div id="myModal" class="modal backdrop" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content" style="height:200px !important; background-color:white !important;">
      <!-- dialog body -->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3" style="color:#5394ff !important;"></i>
          <p>Password updated successfully!You can Login now.</p>
        </div>
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
        <button type="button" (click)="callParent('loginPopup')" style="margin-right:43%" class="btn btn-primary-modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="myModal" [ngStyle]="{'display':displays}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="row" style="background-color:white;">
        <div class="col-md-5 lgn-pnl-styl1">
          <div class="row text-center sign-with">
            <div class="col-md-12">
              <h3 style="float:left; padding-left:10px; color:#ffffff; font-size:28px;"> RESET PASSWORD </h3>
            </div>
            <div class="col-md-12">
              <div style="bottom:50px ">
                <h3 style="float:left; text-align: left; padding-left:10px; font-size:16px; font-weight:normal; padding-top:60px; color:#ffffff">Biomarker database for informed clinical & therapeutic decision making</h3>
              </div>
              <div style="vertical-align:bottom; text-align:center">
                <img src="assets/images/login_panel_icons.png" alt="Login Back image"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-7" style="padding:20px 20px 20px 20px">
          <button type="button" (click)="callParent('close')" title="close" style="float:right; border:none;">
            <i class="fa fa-times" style="color:#0099cc; height: 20px; width: 20px;" aria-hidden="true"></i>
          </button>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab">RESET PASSWORD</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="LoginPanel" style="padding-top:10px">
              <form [formGroup]="formdata" (ngSubmit)="updateSubmit()" class="form-horizontal">
                <div class="form-group">
                  <label for="upassword" class="col-sm-4 control-label" style="padding-right:0px !important;"> New Password
                    <span style="color:red;">*</span>
                  </label>
                  <div class="col-sm-8" style="padding-left:0px !important;">
                    <input type="password" maxlength="20" formControlName="upassword" id="upassword" class="form-control" placeholder="New Password"
                      required />
                  </div>
                </div>
                <div class="col-sm-4"> </div>
                <div class="col-sm-8" style="padding-left:0px !important;">
                  <div id="message" style="display:block;">
                    <h6>Password must contain the following:</h6>
                    <p id="letter" class="invalid">Atleast one lowercase letter</p>
                    <p id="capital" class="invalid">Atleast one capital (uppercase) letter</p>
                    <p id="number" class="invalid">Atleast one number</p>
                    <p id="length" class="invalid">Minimum 8 characters to maximum 20 characters</p>
                    <p id="specialcharacter" class="invalid">Minimum one special character</p>
                    <p id="spaces" class="valid">Space not allowed</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cpassword" class="col-sm-4 control-label" style="padding-right:0px !important;"> Confirm Password
                    <span style="color:red;">*</span>
                  </label>
                  <div class="col-sm-8" style="padding-left:0px !important;">
                    <input type="password" maxlength="20" formControlName="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password"
                      required />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4"> </div>
                  <div class="col-sm-8" style="padding-left:0px !important;">
                    <button type="submit" [disabled]="!formdata.valid" class="btn btn-primary btn-md"> Submit</button>
                  </div>
                </div>
              </form>
              <div class="alert {{editted}} updateresponse" style="visibility: hidden;">
                <h6 id="updatetext"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENDS Login & Registration block -->