<!-- HEADER -->
<header role="banner" class="position-absolute">
                    
  <!-- Top Navigation -->
  <nav class="background-transparent background-primary-dott full-width nav-font-style fixed">

      <div>
          <!-- ValuRite Logo -->
          <div>
              <ul class="logo-menu">
                  <a href="index.html" class="logo">
                      <img class="logo-dark" src="assets/img/valurite_logo.png" alt="logo">
                  </a>
              </ul>
          </div>
          
          <!-- Analytic Brains Logo -->
          <div>
              <ul class="ab-logo-menu">
                  <a class="logo" href="http://analyticbrains.com/">
                      <img class="ab-logo" src="assets/img/ab_logo.png" alt="logo">
                  </a>
              </ul>
          </div>
      </div>
      
      <div class="top-nav menu-spacing">

          <!-- ValuRite Mobile Logo -->
          <div class="logo hide-l hide-xl hide-xxl">
              <a href="index.html" class="logo">
                  <img class="mobi-logo-dark" src="assets/img/appslogo-1.png" alt="">
              </a>
          </div>

          <!-- Center Menu Icon-->
          <p class="nav-text"></p>

          <!-- menu items -->
          <div class="top-nav" style="display: flex; justify-content: center;">
              <ul class="top-ul chevron">
                  <li><a id="valuritehome" [routerLink]="['']">Home</a></li>
                  <li class="active-item"><a id="valuriteabout" [routerLink]="['/aboutus']">About Us</a></li>
                  <li><a id="valuritepricing" [routerLink]="['/pricing']">Pricing</a></li>
                  <li><a id="valuritefaq" [routerLink]="['/faqs']">FAQS</a></li>
                  <li><a id="valuritecontact" [routerLink]="['/contact']">Contact</a></li>
                  <li><a id="valuritefeedback" [routerLink]="['/feedback']">Feedback</a></li>
                  <li><a id="loginclick" (childEvent)="loginevent($event)">Sign in</a></li>
              </ul>
          </div>

          <!-- Analytic Brains Mobile Logo -->
          <div class="logo hide-l hide-xl hide-xxl">
              <a href="http://analyticbrains.com/" class="logo">
                  <img class="mobi-ab-logo" src="assets/img/ab_logo.png" alt="">
              </a>
          </div>

      </div>

  </nav>
</header>

      <!-- MAIN -->
      <main role="main">
              <!-- Header -->
              <header class="section background-image text-center" style="background-image:url(assets/img/Property-value-7.jpg)">
                  <h1 class="animated-element slow text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-30 margin-top-130">
                      About Us
                  </h1>
                  <p class="animated-element text-white" style="font-family: 'Open Sans', sans-serif">Enterprise-class IT Solutions & Services...<br>
                      Delivered with agility and full lifecycle support.</p>

                  <!-- white full width arrow object -->
                  <img class="arrow-object" src="assets/img/arrow-object-white.svg" alt="">
              </header>

              <!-- Section 1 -->
              <section class="section">
                  <div class="line text-center margin-bottom-50"><br><br>
                      <h2 class="text-dark text-size-50 text-m-size-40">Who <b>We Are?</b></h2>
                      
                  </div>
                  <div class="line">
                      <div class="margin2x">
                          <div class="m-12 l-6 margin-m-bottom-30">
                              <img src="assets/img/Property-value-5.jpg" alt="">
                          </div>          
                          <div class="m-12 l-6">
                              <h3 class="animated-element text-strong text-size-25 text-line-height-1 margin-bottom-20">What We Do for You?</h3>
                              <p class="animated-element slow margin-bottom-30" style="font-family: 'Open Sans', sans-serif; font-size: 16.5px;">We deliver IT Solutions to the Financial Services industry, focusing on the Microsoft, Java, Block Chain, BI, ERP platforms. 
                                  Our suite of enterprise IT Services include development. integration, and implementation of solutions for US Mortgages, Wealth Management, Investment Management, Fund Analysis, Treasury and ERP.
                              </p>

                              <h3 class="animated-element text-strong text-size-25 text-line-height-1 margin-bottom-20">Latine omittam expetendis no mei</h3>
                              <p class="animated-element slow margin-bottom-30" style="font-family: 'Open Sans', sans-serif; font-size: 16.5px;">Hendrerit in vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis. 
                                  Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et, latine omittam expetendis no mei. Vim ei nihil exerci populo. Stet perpetua ius et. 
                                  Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                              </p>
                          </div>
                      </div>    
                  </div>  
              </section>

  <!-- Section 3 -->
  <section class="section background-dark">
      <div class="line text-center">
          <i class="icon-sli-heart text-primary text-size-40"></i>
          <h2 class="text-size-50 text-m-size-40"><b>Satisfied</b> Clients</h2>
          <!-- <hr class="break background-primary break-small break-center margin-bottom-50"> -->
      </div>
  </section>

  <!-- Section 4 -->
  <section class="section-small-padding background-white text-center">
      <div class="line">
          <div class="s-12 m-12 l-9 center margin-bottom-30">
              <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-10">Prompta reform conceptam</h3>
              <p>Deleniti pertinacia eu est, te his soluta quaestio pericula illum facilisis.</p>
          </div>
      </div>            
      <div class="line">  
          <div class="s-12 m-12 l-3 center">
              <a href="contact.html" class="s-12 button border-radius background-primary text-size-20 text-white">Contact Us</a>
          </div>
      </div>
  </section>
</main>

<!-- FOOTER -->
<!-- Main Footer -->
<section class="section background-black" style="padding-bottom:0rem !important;">
  <div class="line">
      <div class="margin2x footer-flex row" style="padding-bottom:3rem;">
          <div class="s-12 m-6 l-3 xl-4 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white">Our Mission</h4>
              <p class="text-size-18 footer-font">
                  <b>Our mission is to empower</b> every person and every organization on the
                  planet to achieve more.
              </p>
          </div>
          <div class="s-12 m-6 l-3 xl-1 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white">Quick Links</h4>
              <p class="text-size-16 footer-font">
              <a class="text-primary-hover text-line-height" id="valuriteabout" href="#">About Us</a><br>
              <a class="text-primary-hover text-line-height" id="valuritepricing" href="#">Pricing</a><br>
              <a class="text-primary-hover text-line-height" id="valuritefaq" href="#">FAQS</a><br>
              <a class="text-primary-hover text-line-height" id="valuritecontact" href="#">Contact Us</a><br>
              </p>
          </div>
          <div class="s-12 m-6 l-3 xl-2 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white">Terms of Use</h4>
              <p class="text-size-16 footer-font">
              <a class="text-primary-hover text-line-height" href="page.html">Terms and Conditions</a><br>
              <a class="text-primary-hover text-line-height" href="page.html">Privacy Policy</a><br>
              <a class="text-primary-hover text-line-height" href="page.html">Disclaimer</a>
              </p>
          </div>
          <div class="s-12 m-6 l-3 xl-3 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white">Contact Us</h4>
              <p class="text-size-16 footer-font">
                  <i class="icon-sli-screen-smartphone text-primary text-line-height"></i> 91 44 4354 6875 <br>
              <a class="text-primary-hover text-line-height" href="mailto:contact@sampledomain.com">
                  <i class="icon-sli-mouse text-primary text-line-height"></i> info@analyticbrains.com</a><br>
              </p>
          </div>
          <div class="s-7 m-3 l-2 xl-1 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white">Link With Us</h4>
              <div class="text-center"><a href="/"><i class="icon-sli-social-linkedin social-icons text-size-30"></i></a></div>
          </div>
          <div class="s-7 m-3 l-2 xl-1 margin-bottom-30 margin-m-bottom-30">
              <h4 class="text-white"> Download on </h4>
              <a href="/">
                  <img src="assets/img/Google-Play.png" alt="Google-Play-1">
              </a>
          </div>
      </div>

      <hr class="footer-hr">
      <div class="small-padding">
          <div class="float-left footer-font footer-footer">
              &#169; 2020 ValuRite. All Rights Reserved.
          </div>
      </div>
  </div>
</section>

<!-- Go To Top -->
<i class="icon-sli-arrow-up-circle text-size-50" id="myBtn" onclick="topFunction()"> </i>

