<!-- Admin-reset password Page -->
<div style="height: auto; min-height: 600px !important; padding-top: 55px; padding-bottom:60px;">
    <div class="breadcrumsec">
        <div class="wrapper" style="margin: 0;padding: 0;max-width: -webkit-fill-available;">
            <ol class="breadcrumb breadresize" style="padding-top: 18px;">
                <li>
                    <a routerLink="/dashboard">Home</a>
                </li>
                <li>
                    <a>User Request</a>
                </li>
                <li>
                    <a routerLink="/UserRequest/resetpassword">Reset Password</a>
                </li>
            </ol>
        </div>
    </div>

    <form [formGroup]="formdata" method="post">
        <div class="container form-group">
            <!--ng-Select for Company Dropdown List-->
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4" style="width:32%">
                <label>Company Name</label>
                <ng-select [allowClear]="true" [multiple]="false" formControlName="companyname" [items]="companies" [disabled]="companyDisabled"
                    (selected)="onCompanyItemSelect($event)" (removed)="onCompanyItemRemoved($event)" name="first" [(ngModel)]="companyName"
                    [ngClass]="{'browser-default': true, 'bootstrapButton': true, 'btn': false}">
                </ng-select>
            </div>
        </div>
        <!--ng-Select for User Dropdown List -->
        <div class="container form-group">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4" style="width:32%">
                <label>User Name
                    <span style="color:red;">*</span>
                </label>
                <ng-select [allowClear]="true" type="email" formControlName="username" id="user_valid" [multiple]="false" [items]="users"
                    [disabled]="userDisabled" (selected)="onUserItemSelect($event)" (removed)="onUserItemRemoved($event)" [(ngModel)]="userlogemail"
                    name="userlogemail" [ngClass]="{'browser-default': true, 'bootstrapButton': true, 'btn': false}">
                </ng-select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left:0px;margin-top:7px">
                <button type="button" (click)="generatePwd()" id="generatepasswrd" class="generatebtn" style="width:auto;margin:2px;margin-top: 15px;">Generate Password</button>
            </div>
        </div>
        <div class="container form-group">
            <div class="container-fluid col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <label>Enter Password
                    <span style="color:red;">*</span>
                </label>

                <input type='password' id="manualPass" formControlName="manual_pwd" (keyup)="change()" name="row_password" [(ngModel)]="manualPwd"
                    data-toggle="password" class="manualPassword form-control col-lg-4 col-sm-4 col-xs-4 col-md-4" style="width: 86%; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                <span class="input-group-btn">
                    <button toggle="#password-field" (click)="passwrd()" class="fa fa-fw fa-eye field-icon toggle btn btn-default" style="width:38px;height:34px">
                    </button>
                </span>
            </div>
        </div>
        <div class="container form-group">
            <div class="container-fluid col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <label>Re-type Password
                    <span style="color:red;">*</span>
                </label>
                <input type="password" name="retype_password" id="retPass" [(ngModel)]="retypePwd" formControlName="retype_pwd" (input)="change()"
                    class="form-control manualpd col-lg-4 col-sm-4 col-xs-4 col-md-4" style="width:86%; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                <span class="input-group-btn">
                    <button toggle="#password-field" (click)="passwd()" class="fa fa-fw fa-eye field-icon toggle-password btn btn-default" style="width:38px;height:34px">
                    </button>
                </span>
            </div>
        </div>

        <div class="container form-group">
            <div calss="container-fluid col-lg-5 col-sm-5 col-xs-5 col-md-5" style="margin-left: 100px">
                <div style="margin-left: -25px;">
                    <h5 style="font-weight: 400;">Password must contain the following:</h5>
                    <p id="letter" class="invalid">A lowercase letter</p>
                    <p id="capital" class="invalid">A capital (uppercase) letter</p>
                    <p id="number" class="invalid">A number</p>
                    <p id="length" class="invalid">Minimum 8 characters to maximum 20 characters</p>
                    <p id="specialcharacter" class="invalid">Minimum one special character(!,%,&,@,#,$,^,*,?,_,~)</p>
                    <p id="spaces" class="valid">Space not allowed</p>
                </div>
            </div>
        </div>

        <div class="container form-group">
            <div calss="container-fluid col-lg-5 col-sm-5 col-xs-5 col-md-5" style="margin-left: 100px">
                <div style="margin-left: -25px;">
                    <button type="submit" id="btnSubmit" (click)="Submit_Click(formdata.value)" class="submit-green" style="width:9%;margin:2px"
                        disabled>Submit</button>
                </div>
                <div style="margin-left: -25px;">
                    <button type="reset" (click)="Reset_Click()" class="submit-green" style="margin-left: 110px;margin-top: -32px;">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>