button.submit-green {font-size: 14px;border: none;font-family: 'ProximaNova-Bold';color: #fff;padding: 5px 20px;margin: 10px auto;background-color: #2fa799;text-align: center;display: block;border-radius: 3px;}

button#generatepasswrd{
  cursor: pointer;
  font-size: 14px;
  border: none;
  font-family: 'ProximaNova-Bold';
  color: #fff;
  padding: 5px 5px;
  margin: 10px auto;
  background-color: #2fa799;
  text-align: center;
  display: inline;
  border-radius: 3px;
}
button#generatepasswrd[disabled]{
  background-color: #2fa7995c;
  color: white;
  cursor: unset;
}

.submit-green[disabled]{
  background-color: #9ae6dd;
  color: white;
  cursor: unset;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  padding-right:10px;
  content: "✔";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  padding-right:10px;
  content: "✖";
}