@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.container {
    padding-top: 4em;
    border-radius: 4px;
  }
  
  .show-hide.ng-hide-add, 
  .show-hide.ng-hide-remove {
      transition: all linear 0.2s;
      display: block!important;
      position: absolute;
  }
  
  .show-hide.ng-hide-add.ng-hide-add-active,
  .show-hide.ng-hide-remove {
      top: -8px;
      display: block!important;
      position: absolute;
      opacity: 0;
  }
  
  .submit-green[disabled]{
    background-color: #9ae6dd;
    color: white;
    cursor: unset;
}
  .show-hide.ng-hide-add,
  .show-hide.ng-hide-remove.ng-hide-remove-active {
      top: -14px;
      opacity: 1;
      display: block!important;
      position: absolute;
  }
  
  .field {
      position: relative;
      margin-bottom: 1em;
      padding-bottom: 1em;
  }
  
  .field > label {
      position: absolute;
      top: -14px;
      color: #428bca;
      font-size: 0.8em;
  }
  .field > input {
      border: 0;
      padding: 0.5em 0!important;
      box-shadow: none !important;
      border-radius: 0;;
      border-bottom: 2px solid #555555;
      max-width: 400px;
      margin-top: 15px
  }
  
  .short-input {
    max-width: 400px;
    display: block;
  } 

  label{

       font:  16px caption !important; 
       font-family:'ProximaNova-bold'!important;

  }
  .site_btn { 
    display: inline-block; 
    background: #56aafebd; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s;
     position: relative; 
     vertical-align: middle; 
     transform: perspective(1px) translateZ(0); 
     -webkit-transform: perspective(1px) translateZ(0);
      border-radius: 3px; 
      border: none;
      width: 10%;
      margin-right: 5%;
    }
    .generatebtn{padding:12px 0px;color:#fff;font-size:14px; text-transform:none !important; font-family:Proximanova-bold; width:200px;margin-left:16px;background-color: #56a8fe;border-radius: 1em;}

    .buttoncon{ text-align:right; margin-top:30px;min-height:50px;float:left;width:100%}
    .buttoncon .resetbutton{ background:#324259;width:100px; padding:10px 15px; font-size:14px; text-transform:none !important; font-family:Proximanova-bold; color:#fff;border-radius: 1em;}
    .buttoncon .userlog{padding:10px 5px;color:#fff;font-size:14px; text-transform:none !important; font-family:Proximanova-bold; width:100px;margin-left:16px;background-color: #56a8fe;border-radius: 1em;}
    .buttoncon .continuebut .fa{ float:right;margin: 2px 0 0}
    .buttoncon .resetbutton:hover{color:#fff} 
    .form-control:focus + .bmd-label-floating
    {
        top: .1875rem !important;
        font-weight: normal;
        color:#1d8af7 !important;
        transition: 0.3s ease all; 
    }
    .bmd-label-floating
    {
    position:absolute !important;
    top: 2.1875rem !important;
    font-weight: normal;
    pointer-events: none;
    width:100%;
    }
    
.bmd-form-group {
    position: relative; 
    margin-bottom: 3px;
    padding-top:12px !important;
    
}
.bmd-label-floating
{
position:absolute !important;
top: 2.1875rem !important;
font-weight: normal;
pointer-events: none;
width:100%;
}
.labcontrol
{
    top: .1875rem !important;
    font-weight: normal;
    color:#1d8af7;
}
#message {
    display:none;
    color: #000;
    position: relative;
    margin-top: 2px;
}
#message p {
    font-size: 12px;
    margin-bottom: 0px !important;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    /* left: -35px; */
    padding-right:10px;
    content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    /* left: -35px; */
    padding-right:10px;
    content: "✖";
}
.updatepwd
{
    padding:0px !important;
}
.continuebut
{
padding: 6px !important;
color: #fff;
font-size: 14px;
text-transform: none !important;
font-family: Proximanova-bold;
width: 110px !important;
margin-left: 16px;
background-color: #56a8fe;
border-radius: .5em !important;
}
.bmd-form-group {
    position: relative; 
    margin-bottom: 3px;
    padding-top:12px !important;
}
.gridbutton{

    border: 0;
    box-shadow: none;
    /* border-bottom: 1px solid #627590; */
    border-radius: 4px;
    margin:0px;
    padding:1px 0px 1px 0px;
    background-color:#1d8af7;
    font: bold; 
    color:white;
    font-size: 12px; 
    font-family: Proximanova-bold;  
    width: 90px !important;
    padding: 6px !important;
    text-transform: none !important;
    border-radius: .5em;
}
.bmd-label-floating
{
position:absolute !important;
top: 2.1875rem !important;
font-weight: normal;
pointer-events: none;
width:100%;
}
.labcontrol
{
    top: .1875rem !important;
    font-weight: normal;
    color:#1d8af7;
}
#message {
    display:none;
    /* background: #f1f1f1; */
    color: #000;
    position: relative;
    /* padding: 5px; */
    margin-top: 2px;
}
#message p {
    /* padding: 5px 10px; */
    font-size: 12px;
    margin-bottom: 0px !important;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    /* left: -35px; */
    padding-right:10px;
    content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    /* left: -35px; */
    padding-right:10px;
    content: "✖";
}
.updatepwd
{
    padding:0px !important;
}
.continuebut
{
padding: 6px !important;
color: #fff;
font-size: 14px;
text-transform: none !important;
font-family: Proximanova-bold;
width: 110px !important;
margin-left: 16px;
background-color: #56a8fe;
border-radius: .5em !important;
}

.resetbutton
{
    
    width: 80px !important;
    padding: 10px !important;
    text-transform: none !important;
    border-radius: .5em;
}


.mainLoginInput{

border-radius: 0px;
  font-family: FontAwesome, Open Sans, Verdana, sans-serif; width:40%;display:inline-block
}
input[type=radio   ]{
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
  }             
  input[type=radio   ] {
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
  }
  /* .maxl{
    margin:25px ;
  } */
  .inline{
    display: inline-block;
  }
  .inline + .inline{
    margin-left:10px;
  }
  .radio{
    color:rgb(148, 139, 139);
    font-size:15px;
    position:relative;
  }
  .radio span{
    position:relative;
     padding-left:20px;
  }
  .radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
  .radio input[type="radio"]{
     cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .radio input[type="radio"]:checked + span{
    /* color:#337ab7;   */
    color:  black;
  }
  .radio input[type="radio"]:checked + span:before{
      content:'';
    width:5px;
    height:5px;
    position:absolute;
    /* background:#337ab7; */
    background: #000;
    left:5px;
    top:6px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
  }

  .pagination {
    display: inline-block;
    border: 1px ;
    height: 30px;
    width:15%;
    line-height:1.428571429;
    margin-top: 0%;
    margin-right:18%;
    margin-left: 0%; 
    
}

.pagination a {
    color: black;
    float: left;
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429; 
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #344868 !important;
    border-color:solid #ffffff;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;}

.scroll {
        overflow-x:scroll;
        width: 1326.5px; 
        }
   
    .bmd-form-group {
        position: relative; 
        margin-bottom: 3px;
        padding-top:12px !important;
        
    }
    
    .labcontrol
    {
        top: .1875rem !important;
        font-weight: normal;
        color:#1d8af7;
    }
    #message {
        display:none;
        /* background: #f1f1f1; */
        color: #000;
        position: relative;
        /* padding: 5px; */
        margin-top: 2px;
    }
    #message p {
        /* padding: 5px 10px; */
        font-size: 12px;
        margin-bottom: 0px !important;
    }
    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }
    
    .valid:before {
        position: relative;
        /* left: -35px; */
        padding-right:10px;
        content: "✔";
    }
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }
    .invalid:before {
        position: relative;
        /* left: -35px; */
        padding-right:10px;
        content: "✖";
    }
    .updatepwd
    {
        padding:0px !important;
    }
    .continuebut
    {
    padding: 6px !important;
    color: #fff;
    font-size: 14px;
    text-transform: none !important;
    font-family: Proximanova-bold;
    width: 110px !important;    
    margin-left: 16px;
    background-color: #56a8fe;
    border-radius: .5em !important;
    }
    #customers {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px #129cca solid;
      }
    
      #customers td,
      #customers th {
        padding:5px;
      }
    
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: internal-center;
        background-color: #129cca;
        color: white;
      }

      .resetbutton[disabled]{
        background-color: #b1d2f5 !important;
    }
.resetbutton{
    float: right;
    color: #fff;
    font-size: 15px;
    font-family: ProximaNova-Bold;
    padding: 5px 20px;
    border: 0px;}

.search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        float: none;
        text-align: left;
        margin: 0;
        padding: 14px;
      }
  /* .search_go{
    color: #313131;
    background: #29abe2 url(../../../assets/images/search-submit.png) no-repeat scroll center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    border: 1px solid #fff;
  } */

  input#bigbuton {
    cursor: pointer;
    font-size: 14px;
    border: none;
    font-family: 'ProximaNova-Bold';
    color: #fff;
    padding: 5px 5px;
    margin: 10px auto;
    background-color: #2fa799;
    text-align: center;
    display: inline;
    border-radius: 3px;
  }
  .trans-reset{
font-size: 14px;
border: none;
font-family: 'ProximaNova-Bold';
color: #2fa799;
padding: 5px 5px;
margin: 10px auto;
background-color: transparent;
text-align: center;
display: block;
cursor: pointer;
  }
  .buttondiv{
    padding: 10px;
  }

.scroll {
    overflow-x: scroll !important;
    display: block;
  }
.control{
    margin-top:-50px;
    margin-left: 3px;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
}
input#text_search{
    background: url(../../../assets/images/icon1-active.png) no-repeat scroll 10px center;
    padding: 10px 10px 10px 50px;
}

table {
    max-width: 100% !important;
    overflow-x: scroll;
    background-color: transparent;
    display: block;
    margin-bottom: 20px;
    border: 1.2px #129cca solid;
}
.tempFormContrl
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tempFormContrl:focus{
    border-color:#56aafebd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px #56aafebd;
    outline: 0 none;
 }

 button#updateBtn[disabled]{
    background-color: #2fa7995c;
    color: white;
    cursor: unset;
}
button#bulkUpdateBtn[disabled]{
    background-color: #2fa7995c;
    color: white;
    cursor: unset;
}
button.submit-green {font-size: 14px;border: none;font-family: 'ProximaNova-Bold';color: #fff;padding: 5px 20px;margin: 10px auto;background-color: #2fa799;text-align: center;display: block;border-radius: 3px;}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: internal-center;
    background-color: #129cca;
    color: white;
border: 1px solid #129cca;
            padding: 8px;
}
.ngxpagination /deep/ {		
    margin-left: 902px;  		
}		
.ngxpagination /deep/ .ngx-pagination .current {		
    background:#129cca !important;		
    border-radius: 1px;		
    padding: 8px 16px;		
     display: inline-block;		
  }		
  		
  .ngxpagination /deep/.disabled, .ngxpagination /deep/ .disabled a, .ngxpagination /deep/.disabled a:hover, .ngxpagination /deep/.disabled a:focus {		
    color: #999;		
    cursor: not-allowed;		
    background-color: #fff;		
    border-color: #ddd;		
    padding: 8px 16px;		
    border: 1px solid  #ddd;		
}		
.ngxpagination /deep/ a {		
    color: #428bca;		
    line-height: 1.428571429;		
    padding: 8px 16px;		
    text-decoration: none;		
    border: 1px solid  #ddd;		
    position: relative;		
        
}		
        
.ngxpagination /deep/ a.active {		
        
    z-index: 3;		
    color: white;		
    border-radius: 5px;		
    border: 1px solid  #ddd;		
    line-height: 1.428571429;		
}		
        
.ngxpagination  /deep/ a:hover:not(.active) {		
    background-color: #ddd;		
    border-radius: 5px;		
    border: 1px solid  #ddd;		
}		
.ngxpagination  /deep/ ul {		
margin-top: -20px;		
/* margin-bottom: -20px; */
float: right;		
/* margin-left: 875px; 		 */
}		
        
.ngxpagination /deep/ li:first-child a,.pagination /deep/ li:first-child span {		
    margin-left:0;		
    border-bottom-left-radius: 4px;		
    border-top-left-radius: 4px;		
}		
.ngxpagination /deep/ li:last-child a,.pagination /deep/ li:last-child span {		
    border-top-right-radius:4px;		
    border-bottom-right-radius:4px		
}
.onhover:hover{
    cursor: pointer;
    }
