<div style="height: auto; min-height: 600px !important; padding-top: 60px; padding-bottom:80px;">
  <div class="breadcrumsec">
    <div class="wrapper" style="margin: 0;padding: 0;max-width: -webkit-fill-available;">
      <ol class="breadcrumb breadresize" style="padding-top: 18px;">
        <li>
          <a routerLink="/dashboard">Home</a>
        </li>
        <li>
          <a>User Request</a>
        </li>
        <li>
          <a routerLink="/search">Update User Account</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- <div class="radio" style="margin-top: -1px">
    <label class="radio inline" style="margin-bottom: 11px; font:  13px caption !important;font-family:'ProximaNova-bold'!important;">
      <input type="radio" name="user" value="single" (click)="singleUser()" checked>
      <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif">Single User Updation </span>
    </label>
    <label class="radio inline" style="margin-top: 0px;margin:-15px;font:  13px caption !important;font-family:'ProximaNova-bold'!important;">
      <input type="radio" name="user" (click)="bulkUser()" value="bulk">
      <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; ">Bulk User Updation </span>
    </label>
  </div> -->

  <!--SINGLE USER UPDATE-->
  <form *ngIf="showSingle">
    <fieldset>
      <form style="border-radius: 4px; float  : left; width: 75%;margin-left:28px; ">
        <div class="row col-lg-12 col-sm-12 col-md-12 col-xs-12 formGroup">
          <!--ng-Select for Company Dropdown List-->
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 formGroup">
            <b>Company</b>
            <ng-select [multiple]="false" [items]="companies" [disabled]="companyDisabled" (selected)="onCompanyItemSelect($event)" (removed)="onCompanyItemRemoved($event)"
              name="first" placeholder="" [(ngModel)]="companyName">
            </ng-select>
          </div>

          <!--ng-Select for User Dropdown List-->
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 formGroup">
            <b>Users</b>
            <ng-select [multiple]="false" [items]="users" [disabled]="userDisabled" (selected)="onUserItemSelect($event)" (removed)="onUserItemRemoved($event)"
              placeholder="" [(ngModel)]="userlogemail" name="userlogemail" [ngClass]="{'browser-default': true, 'bootstrapButton': true, 'btn': false}">
            </ng-select>
          </div>
          <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 formGroup">
            <button type="submit" (click)="Onuser_Action()" class="submit-green" value="Submit" style="margin: 20px;margin-left:-15px;">Submit</button>
          </div>
          <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 formGroup">
            <button type="reset" (click)="Reset_Click()" value="Reset" class="submit-green" style="margin: 20px;margin-left:-87px;">Reset</button>
          </div>
        </div>
      </form>
    </fieldset>
    <div *ngIf="singlegrid">
      <div class="container-fluid formGroup" style="border-radius: 5px; padding: 10px;">
        <table class="table" id="singleUpdateTable">
          <div class=" formGroup margin: 0px !important;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; border-collapse: collapse;">
            <thead style="text-align: internal-center;background-color: #129cca;color: white;">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Id</th>
              <th>Mobile Number</th>
              <th>Address Line 1</th>
              <th>Address Line 2</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Area</th>
              <th>Land Mark</th>
              <th>Pin Code</th>
              <th>Company Name</th>
              <th>Contract Reference</th>
              <th>User Type</th>
              <th>User Role</th>
              <th>General Alert </th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>User Status</th>
            </thead>
            <tbody style="padding-bottom:100%; ">
              <tr style="background-color:#f3f3f3;" *ngFor="let user of  Userobject; let ind = index">
                <td>
                  <input type="text" class="form-control firstName" maxlength="100" [disabled]="this.userStatus === 'InActive'" (input)="onKey($event)"
                    id="firstName{{ind}}" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" style="width: 160px;"
                    value="{{user.first_name}}" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="fNameText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control lastName" name="lastname" [disabled]="user.UserStatus === 'InActive'" maxlength="100" id="lastName{{ind}}"
                    (input)="onKey($event)" [(ngModel)]="lastname" value="{{user.last_name}}" style="width:160px;" [ngModelOptions]="{standalone: true}"
                  />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="lNameText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control emailID " id="emailid{{ind}}" readonly name="emailid" value="{{user.EmailId}}" style="width: 180px"
                    data-toggle="popover" title="{{user.EmailId}}" />
                </td>
                <td>
                  <input type="text" class="form-control mobileno" id="MobileNo{{ind}}" [disabled]="user.UserStatus === 'InActive'" (input)="onKey($event)"
                    maxlength="100" [(ngModel)]="MobileNo" [ngModelOptions]="{standalone: true}" name="MobileNo" value="{{user.MobileNo}}"
                    style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="MobileText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control address1" id="AddressLine{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="Address1"
                    (input)="onKey($event)" [ngModelOptions]="{standalone: true}" name="address1" value="{{user.Address1}}"
                    style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="addressText1{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control address2" id="Address2{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="Address2"
                    maxlength="100" [ngModelOptions]="{standalone: true}" name="address2" value="{{user.Address2}}"
                    style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="addressText2{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>

                    <select style="width:200px" id="Country" class=" tempFormContrl Countryname"  [disabled]="user.UserStatus === 'InActive'" (change)="onCountrySelect($event.target , 0)">
                        <option disabled>--Select--</option>
                        <option *ngFor="let c of CountryList" [value]="c.id">{{c.name}}</option>
                      </select>

                  <!-- <input type="text" class="form-control country" id="Country{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="country"
                    maxlength="100" (input)="onKey($event)" [ngModelOptions]="{standalone: true}" name="address2" value="{{user.Country}}"
                    style="width:160px;" /> -->
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="countryText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>
                    <select style="width: 218px" class="form-control Statename" id="State"  [disabled]="user.UserStatus === 'InActive'" (change)="onStateItemSelect($event.target)">
                        <option disabled>--Select--</option>
                      </select>
                  <!-- <input type="text" class="form-control state"  id="State{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="state"
                    maxlength="100" (input)="onKey($event)" [ngModelOptions]="{standalone: true}" name="address2" value="{{user.State}}"
                    style="width:160px;" /> -->
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="stateText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>
                    <select style="width: 218px" class="form-control Cityname" id="CityName"  [disabled]="user.UserStatus === 'InActive'" (change)="onCityItemSelect($event.target)">
                        <option disabled>--Select--</option>
                      </select>
                  <!-- <input type="text" class="form-control city" id="city{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                    (input)="onKey($event)" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" name="city"
                    value="{{user.City}}" style="width:160px;" /> -->
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="cityText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>
                  <input type="text" class="form-control addressarea" id="area{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                    (input)="onKey($event)" [(ngModel)]="area" [ngModelOptions]="{standalone: true}" name="area"
                    value="{{user.Area}}" style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="AreaText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>
                  <input type="text" class="form-control landmark" id="landmark{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                    (input)="onKey($event)" [(ngModel)]="landmark" [ngModelOptions]="{standalone: true}" name="area"
                    value="{{user.LandMark}}" style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="landmarkText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td>
                  <input type="text" class="form-control pincode" id="pincode{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                    (input)="onKey($event)" [(ngModel)]="pincode" [ngModelOptions]="{standalone: true}" name="area"
                    value="{{user.Pincode}}" style="width:160px;" />
                  <div class="firstnameclass" style="height:10px;">
                    <h6 id="pinCodeText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                  </div>
                </td>

                <td style="width:200px;display:inline-block;">
                  <select name="selectedObject" id="companyselected{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="CompanyName"
                    (change)="onCompanyselect($event)" value="{{user.CompanyName}}" class="form-control companyselected" style="width:100%;display:inline-block;">
                    <option selected disabled>--Select--</option>
                    <option *ngFor="let company of categories|orderBy : 'CompanyName'" [value]="company.CompanyName">{{company.CompanyName}}</option>
                  </select>
                </td>
                <td>
                  <select name="selectedref" id="selectedref{{ind}}" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="contractref"
                    value="{{user.ContractRef}}" (change)="onchangereference($event)" style="width: 110px" class="form-control selectedref">
                    <option disabled>--Select--</option>
                    <option *ngFor="let company of reference" [value]="company">{{company}}</option>
                  </select>
                </td>
                <!-- <td>
                    <select id="Usertype{{ind}}" [(ngModel)]="usertype" value="{{user.UserType}}" [disabled]="user.UserStatus === 'InActive'" class="form-control" name="usertype"
                      style="width: auto">
                      <option *ngFor="let user of roleName" [value]="user.UserType" >{{user}}</option>
                    </select>
                  </td> -->
                     

                  <td>
                  <select id="Usertype{{ind}}" [disabled]="user.UserStatus === 'InActive'" class="form-control userType"  
                    style="width: 158px"  [(ngModel)]="usertype" name="usertype"  value="{{user.UserType}}" >
                    <option selected disabled value="">--Select--</option>
                   <option value="Appraiser">Appraiser</option>
                   <option value="Borrower">Borrower</option>
                   <option value="Lender">Lender</option>
                  </select>
                 </td> 
                <td>
                  <select id="UserRole{{ind}}" class="form-control Userrole" [disabled]="user.UserStatus === 'InActive'"  value="{{user.UserRole}}" name="userrole" [(ngModel)]="userrole" style="width: auto">
                    <option selected disabled value="">--Select--</option>
                    <option value="Admin">Admin</option>
                    <option value="Comp app without lender">Comp app without lender</option>
                    <option value="Comp with lender">Comp with lender</option>
                    <option value="Ind app without lender">Ind app without lender</option>
                    <option value="User">User</option>
                  </select>
                </td>
                
                <td>
                  <select id="generalflag{{ind}}" class="form-control generalflag" [disabled]="user.UserStatus === 'InActive'" [(ngModel)]="generalflag"
                    name="generalflag" style="width: 100px">
                    <option value="" disabled>--Select--</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </td>
                <td>
                  <input type="text" (click)="calendarfetch($event)" [(ngModel)]="startdate" [disabled]="user.UserStatus === 'InActive'" name="startdate"
                    id="startdate{{ind}}" class="form-control onhover startdate" style="width:120px; background: url(../../assets/images/datepicker.png) no-repeat scroll 96px center;"
                    [ngModelOptions]="{standalone: true}">
                </td>
                <td>
                  <input type="text" (click)="calendarfetch($event)" [(ngModel)]="enddate" [disabled]="user.UserStatus === 'InActive'" name="enddate"
                    id="enddate{{ind}}" class="form-control onhover enddate" [ngModelOptions]="{standalone: true}" style="width:120px; background: url(../../assets/images/datepicker.png) no-repeat scroll 96px center;">
                </td>
                <td>
                  <button type="button" id="toggle{{ind}}" (click)="toggle($event)" class="submit-green " value={{userStatus}} [(ngModel)]="userStatus"
                    name="userStatus" ngDefaultControl [ngModelOptions]="{standalone: true}" style="background-color: #129cca;margin: 1px auto">{{userStatus}}</button>
                </td>
              </tr>
            </tbody>
          </div>
        </table>
        <div class="button" style="width:auto;">
          <button type="button" id="updateBtn" [disabled]="false" class="submit-green" (click)="update_single()" value="Update" style="width: 10%;float:left;margin-left:5px">Update</button>
          <button type="button" (click)="Onuser_Action()" class="submit-green" value="Cancel Changes" style="width: 10%;float:left;margin-left:15px">Cancel</button>
        </div>
      </div>
    </div>
  </form>

  <!--BULK USER UPDATE-->
  <form *ngIf="showBulk">
    <fieldset>
      <form>
        <form action="/action_page.php" style="border-radius: 4px; float  : left; width:61%;margin-left:43px; ">
          <div class="row class col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <div class="row class col-lg-6 col-sm-6 col-md-6 col-xs-6">
              <b>Company</b>
              <br>
              <ng-select [multiple]="false" [items]="companies" [disabled]="companyDisabled" (selected)="onCompanyItemSelect($event)" (removed)="onCompanyItemRemoved($event)"
                id="companyselected{{ind}}" name="selectedObject" placeholder="" [(ngModel)]="CompDropdown">
              </ng-select>
            </div>
            <div class="class col-lg-2 col-sm-2 col-md-2 col-xs-2 formGroup">
              <button type="submit" (click)="SubmitBulk()" value="Submit" id="getBulkRecord" class="submit-green" style="margin: 22px;margin-left:-12px;">Submit</button>
            </div>
            <div class="row class col-lg-2 col-sm-2 col-md-2 col-xs-2">
              <button type="reset" (click)="Reset_Click()" value="Reset" class="submit-green" style="margin: 22px;margin-left:-3px;">Reset</button>
            </div>
          </div>
        </form>
      </form>
    </fieldset>
  </form>

  <form *ngIf='listFor3BiGS'>
    <!-- <b style="margin-left: 11px;"> Number of Records : {{totalRec}} </b> -->
    <div>
    <b style="margin-left: 11px;"> Number of Records : {{pagenumcount}} of {{totalRec}} </b>
    <pagination-controls id="listing_pagination" class="ngxpagination " maxSize="20" directionLinks="true" (pageChange)="page = $event" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
    <div class="container-fluid " style="border-radius: 5px; padding: 10px;">
      <table class="table " id="Upadteusertable">
        <div style="margin: 0px !important;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; border-collapse: collapse;">
          <thead style="background-color: #129cca; color: white;">
            <th>
              <input [(ngModel)]="mainCheckbox" name="mainCheckboxName" class="styled parentcheck" id="checkbox1" (change)='checkbx($event)'
                type="checkbox" />
            </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Phone Number</th>
            <th>Department</th>
            <th>Area of Interest</th>
            <th>Company Name</th>
            <th style="width:150px;display:inline-block;">Contract Reference</th>
            <th>User Type</th>
            <th style="width:auto;display:inline-block;">Download Limit</th>
            <th>Export </th>
            <th style="width:auto;display:inline-block;">General Alerts </th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>User Status</th>
          </thead>
          <tbody style="padding-bottom:100%; ">
            <tr style="background-color:#f3f3f3;"  id="rowID{{ind}}" *ngFor="let ind = index; let user of bulkusers | paginate: { id: 'listing_pagination', itemsPerPage: 20,currentPage: page,totalItems: totalRec }  ">
              <td>
                <input type="checkbox" id="chekBox{{ind}}" [disabled]="user.UserStatus === 'InActive'" class="chkGrp" (click)="checkboxloop($event)">
              </td>
              <td>
                <input type="text" class="form-control firstName" [disabled]="user.UserStatus === 'InActive'" maxlength="100" (input)="onkeyup($event)"
                  id="firstName{{ind}}" name="firstName" value="{{user.FirstName}}" style="width: 160px" />
                <div class="firstnameclass" style="height:10px;">
                  <h6 id="fNameText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                </div>
              </td>
              <td>
                <input type="text" class="form-control lastName" id="lastName{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                  (input)="onkeyup($event)" name="lastName" value="{{user.LastName}}" style="width: 160px" />
                <div class="firstnameclass" style="height:10px;">
                  <h6 id="lNameText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                </div>
              </td>
              <td>
                <input type="text" class="form-control emailid" id="emailid{{ind}}" readonly name="emailid" value="{{user.EmailId}}" style="width: 180px"
                  data-toggle="popover" title="{{user.EmailId}}" />
              </td>
              <td>
                <input type="text" class="form-control MobileNo" id="MobileNo{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                  (input)="onkeyup($event)" name="MobileNo" value="{{user.PhoneNum}}" style="width:160px;" />
                <div class="firstnameclass" style="height:10px;">
                  <h6 id="phnumText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                </div>
              </td>
              <td>
                <input type="text" class="form-control department" id="departMent{{ind}}" [disabled]="user.UserStatus === 'InActive'" maxlength="100"
                  (input)="onkeyup($event)" name="department" value="{{user.Department}}" style="width:160px;" />
                <div class="firstnameclass" style="height:10px;">
                  <h6 id="deptText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                </div>
              </td>
              <td>
                <input type="text" class="form-control areaofinterest" id="areaofInterest{{ind}}" [disabled]="user.UserStatus === 'InActive'"
                  maxlength="100" (input)="onkeyup($event)" name="areaofinterest" value="{{user.AreaOfInterest}}" style="width:160px;"
                />
                <div class="firstnameclass" style="height:10px;">
                  <h6 id="areaOfinterestText{{ind}}" style="margin-top:0px; margin-bottom:0px; color:red;display:none"></h6>
                </div>
              </td>
              <td style="width:200px;display:inline-block;">
                <select name="selectedObject" id="companyselected{{ind}}" (change)="onCompanyselect($event)" [disabled]="user.UserStatus === 'InActive'"
                  value="{{user.CompanyName}}" class="form-control companyselected" style="width:100%;display:inline-block;">
                  <option selected disabled>--Select--</option>
                  <option *ngFor="let company of categories|orderBy : 'companyname'" [value]="company.companyname">{{company.companyname}}</option>
                </select>
              </td>
              <td>
                <select name="selectedref" id="selectedref{{ind}}" (change)="onchangereference($event)" [disabled]="user.UserStatus === 'InActive'"
                  value="{{user.ContractRef}}" class="form-control selectedref">
                  <option disabled>--Select--</option>
                  <option *ngFor="let company of reference" [value]="company">{{company}}</option>
                </select>
              </td>
              <td>
                <select id="Usertype{{ind}}" class="form-control Usertype" name="usertype" [disabled]="user.UserStatus === 'InActive'" value="{{user.Usertype}}"
                  style="width: auto">
                  <option *ngFor="let user of roleName" [value]="user.rolename">{{user.rolename}}</option>
                </select>
              </td>
              <td>
                <input type="number" id="limits{{ind}}" value="{{user.DownloadLimit}}" readonly name="limits" min="100" style="width: 80px"
                  class="form-control limits" />
              </td>
              <td>
                <input type="text" [value]="user.Exportflag ? 'Yes' : 'No'" id="exportflag{{ind}}" readonly style="width:100px" class="form-control exportflag"
                  name="exportflag" style="width: 80px" />
              </td>
              <td>
                <select id="generalflag{{ind}}" class="form-control generalflag" value="{{user.GeneralAlert}}" [disabled]="user.UserStatus === 'InActive'"
                  style="width: 80px">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
              <td>
                <input type="text" (click)="calendarfetch($event)" [disabled]="user.UserStatus === 'InActive'" value="{{user.StartDate| date: 'MM/dd/yyyy'}}"
                  name="startdate" id="startdate{{ind}}" class="form-control onhover startdate" style="width:120px; background: url(../../assets/images/datepicker.png) no-repeat scroll 96px center;">
              </td>
              <td>
                <input type="text" (click)="calendarfetch($event)" [disabled]="user.UserStatus === 'InActive'" value="{{user.EndDate |date: 'MM/dd/yyyy'}}"
                  id="enddate{{ind}}" name="enddate" class="form-control onhover enddate" style="background: url(../../assets/images/datepicker.png) no-repeat scroll 96px center;width:120px;">
              </td>
              <td>
                <button type="button" id="toggle{{ind}}" (click)="toggle($event)" class="submit-green userstatus" value="{{user.UserStatus}}"
                  style="background-color: #129cca;margin: 1px auto">{{user.UserStatus}}</button>
              </td>
            </tr>
          </tbody>
        </div>
      </table>
      <button type="button" data-toggle="modal" class="submit-green" (click)="update_Bulk()" disabled="true" id="bulkUpdateBtn{{ind}}"
        style="width: 10%;float:left;margin:7px">Update</button>
      <button (click)="SubmitBulk()" class="submit-green" value="Cancel Changes" style="width: 11%;float:left;margin:7px">Cancel</button>
      <pagination-controls id="listing_pagination" class="ngxpagination" maxSize="20" directionLinks="true" (pageChange)="page = $event" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </form>
</div>